//

.socialMovementCrime {
    width: 100%;
    height: 100vh;
    background: #333 url('https://farm8.staticflickr.com/7161/13290874884_57ed75e0c8_h.jpg') center / cover no-repeat fixed;

    > form, .answerTable {
        background: #fff;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                    0 1px 10px 0 rgba(0, 0, 0, 0.12),
                    0 2px 4px -1px rgba(0, 0, 0, 0.4);
    }
}
